* {
    background-color:grey;
    font-family: 'Raleway', sans-serif;
    
    }
    /* Heading */
     #heading{
        text-align:center;
        border-style: solid;
        border: 3px; 
        color: yellow;    
    }
    /* Apple Eaten & Wins */
    h1{
        text-align: center;
        border: 3px; 
        border-style: solid; 
    }
    #game-display{
      text-align: center;
      margin-top: 10px;
      font-size: 24px;
    }
    #score{
        padding-top: 13em;
        text-align: center;
        font-size: 25px;
        /* This below nees to be removed */
        border: 3px; 
        border-style: solid; 
        border-color: red;

    }